<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fix-runpath-force"
        version="1.0.0">
  <name>Fix Runpath Force</name>
  <description>Força LD_RUNPATH_SEARCH_PATHS para $(inherited) no Xcode</description>
  <license>MIT</license>
  <author>Jonas Cerantola</author>

  <platform name="ios">
    <hook type="after_plugin_install" src="hooks/fix-runpath.js" />
  </platform>
</plugin>
